{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="container">
  <div class="row top">
    <div class="col-md-12"></div>
  </div>

<div class="text-center">
  <div class="user-image">
    <img src="{{profile.avatar.url}}" class="gallery-image" alt=""  width=30 height=30>
  </div>
  <p style="font-size: 22px; font-weight:bold;margin:auto; padding:2px;">{{profile.username}}</p>
  <p class="card-text" style="font-size:20px;font-weight:bold;">{{profile.description |safe}}</p>
  <p class="card-text" style="font-size:18px;color:white;font-weight:bold;">Email: {{profile.email}}</p>

</div>

</div>
<style>
.top{
  margin-top: 10px;
}
h5{
  font-size: 30px;
  text-align: center;
}
h6{
  text-align: center;
}
.user-image {
    /* width: calc(25.333% ); */
    border-radius: 50%;
    display: inline-flex;
}
p{
  color: white;
}
.user-image img {
  width: 205px;
  height: 205px;
  background-size: cover;
  display: block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}
</style>
{% endblock %}
